.venv
.idea
static
__pycache__/*
*.pyc
.env
*.pth
*.mdb
lmdb*/yichen_model.pth
lmdb_database/data.mdb
lmdb_database/data.mdb
lmdb_database/*.mdb
lmdb_database/*
*output/*
output/*
*.json
data/*
sprite_sheet.png

*\sprite_sheet.png